#ifndef {{ header_block }}
#define {{ header_block }}

#include <stdbool.h>
#include <stdint.h>
#include <stdlib.h>
#include <string.h>

#include "cyrobuf_list.h"
#include "cyrobuf_util.h"

{%- for import in imports %}
#include "{{ import }}_proto.h"
{%- endfor %}

{%- macro structdef(name, message) %}
	{%- for enum_name, enum in message.enums.items() %}
{{ enumdef(name + enum_name, enum) }}
	{%- endfor %}

	{%- for message_name, message_message in message.messages.items() %}
{{ structdef(name + message_name, message_message) }}
	{%- endfor %}

struct {{ name }} {
{% for field in message.fields|sort(attribute='index') -%}
	{%- if field.modifier == 'repeated' %}
        {%- if field.type == 'message' %}
    struct {% if field.is_nested %}{{ name }}{% endif %}{{ field.message_name }}_list {{ field.name }};
        {%- else %}
	struct {{ field.list_type }} {{ field.name }};
        {%- endif %}
	{%- elif field.type == 'string' %}
	char *{{ field.name }};
	{%- elif field.type == 'bytes' %}
	struct cyrobuf_bytes *{{ field.name }};
	{%- elif field.type == 'message' %}
	struct {% if field.is_nested %}{{ name }}{% endif %}{{ field.message_name }} *{{ field.name }};
	{%- elif field.type == 'enum' %}
	enum {% if field.is_nested %}{{ name }}{% endif %}{{ field.enum_name }} {{ field.name }};
	{%- else %}
	{{ field.c_type }} {{ field.name }};
	{%- endif %}
{%- endfor %}
};

struct {{ name }}_list {
    struct {{ name }} **values;
    size_t len;
    size_t _size;
};

struct {{ name }} *{{ name }}_init(void);
void {{ name }}_destroy(struct {{ name }} *message);
void {{ name }}_clear(struct {{ name }} *message);
struct {{ name }} *{{ name }}_copy(struct {{ name }} *message);
int {{ name }}_parse_from_string(struct {{ name }} *message,
	const uint8_t *buffer, size_t buffer_size);
int {{ name }}_serialize_to_string(struct {{ name }} *message,
	uint8_t *buffer, size_t buffer_size, size_t *used);

void {{ name }}_list_destroy(struct {{ name }}_list *list);
void {{ name }}_list_copy(struct {{ name }}_list *dest, struct {{ name }}_list *src);
void {{ name }}_list_append(struct {{ name }}_list *list, struct {{ name }} *message);
void {{ name }}_list_extend(struct {{ name }}_list *list, struct {{ name }}_list *other);
void {{ name }}_list_insert(struct {{ name }}_list *list, int i, struct {{ name }} *message);
struct {{ name }} *{{ name }}_list_pop(struct {{ name }}_list *list);
int {{ name }}_list_remove(struct {{ name }}_list *list, struct {{ name }} *message);
{%- endmacro %}

{%- macro enumdef(name, enum) %}
enum {{ name }} {
	{%- for field in enum.fields %}
	{{ field.name }} = {{ field.value }}
        {%- if not loop.last %},{% endif %}
	{%- endfor %}
};
{%- endmacro %}

{%- for enum in enums %}
{{ enumdef(enum.name, enum) }}
{%- endfor %}

{%- for message in messages %}
{{ structdef(message.name, message) }}
{%- endfor %}

#endif

